.toolbar{
    background-color: #fbff00;
    height:var(--toolbar-height );
    color: rgb(255, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}